html{
    scroll-behavior: smooth;
}
*{
    font-family: 'GFS Didot', serif;
    padding: 0;
    margin: 0;
}
body{
    background-image: linear-gradient(to right, rgba(174, 217, 249, 0), rgb(119, 191, 254));
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
.Top{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: white;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    cursor: pointer;
    width: 100%;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}
.Cover{
    position: relative;
    bottom:10px;
    left: 300px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
}
.navTop{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    left: 10px;
    top:10px;
}
.pp{
    border-radius: 50px;
    position: relative;
    bottom:120px;
    left: 220px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
}
.Details{
    position: relative;
    left:170px; 
    bottom: 130px;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.EditProfile{
    width: 33%;
    position: relative;
    right:9px;
    bottom: 150px;
    background-color: rgb(166, 253, 104);
    cursor: pointer;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    font-size: medium;
}
.EditProfile:hover{
    background-color: white;
}
.ShareProfile{
    width: 33%;
    position: relative;
    left: 496px;
    bottom: 175px;
    background-color: rgb(166, 253, 104);
    cursor: pointer;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    font-size: medium;
}
.ShareProfile:hover{
    background-color: white;
}
.Changepic{
    width: 33%;
    position: relative;
    left:1000px;
    bottom: 200px;
    background-color: rgb(166, 253, 104);
    cursor: pointer;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    font-size: medium;
}
.Changepic:hover{
    background-color: white;
}
.output{
    width: 150px;
    display: flex;
    border-radius: 50px;
    width: 200px;
    position: relative;
    bottom:120px;
    left: 220px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
}
.Follow{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    bottom:400px;
    font-size: x-large;
}
.ShareTab{
    display: none;
    width: 250px;
    height: 150px;
    background-color: rgb(248, 242, 162);
    border-radius: 10px;
    box-shadow: 3px 3px;
    margin: auto;
    padding: 10px 50px;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;  
}
.ShareNow{
    position: relative;
    left: 20px;
}
.Shareimg{
    margin-top: -50px;
    position: relative;
    left:100px;
}
.link{
    position: relative;
    left: 46px;
    top:12px;
    cursor:default;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
}
.Copy{
    cursor: pointer;
    width: 80px;
    position: relative;
    top:45px;
    right:80px;
    border-radius: 5px;
    box-shadow: 3px 3px;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
}
.Copy:hover{
    background-color: black;
    color: white;
}
.LogoW{
    position: relative;
    top:70px;
    left: 80px;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
.Copied{
    display: none;
    width: 240px;
    height: 70px;
    background-color: rgb(248, 242, 162);
    border-radius: 10px;
    box-shadow: 3px 3px;
    margin: auto;
    padding: 10px 50px;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.CopyOk{
    width: 40px;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
}
.CopyOk:hover{
    background-color: black;
    color: white;
}
.Edit{
    display: none;
    width: 200px;
    height: 265px;
    background-color: rgb(237, 199, 128);
    border-radius: 10px;
    box-shadow: 3px 3px;
    margin: auto;
    padding: 10px 50px;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;  
}
.submit{
    position: relative;
    left:50px;
    cursor: pointer;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
}
.submit:hover{
    background-color: rgb(104, 145, 249);
}
.Details1{
    position: relative;
    left:170px; 
    bottom: 130px;
    font-size: large;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.slider{
    position: relative;
    bottom: 50px;
}
.sliderItem{
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.sliderTitle{
    color: black;
    text-align: center;
    font-size: 45px;
}
.sliderWrapper{
    display: flex;
    width: 500vw;
    transition: all 1.5s ease-in-out;
}
.sliderImg {
    z-index: 1;
  }  
.slider{
    overflow: hidden;
}
.Left{
    cursor: pointer;
}
.Right{
    cursor: pointer;
}
.Next{
    cursor: pointer;;
}
.post{
    font-size: xx-large;
    font-weight: 800;
    position: relative;
    bottom: 240px;
}