:root{
    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;
    --color-white: hsl(252, 30%, 100%);
    --color-gray: hsl(252, 15%, 65%);
    --color-light:hsl(252, 30%, 90%);
    --color-dark: hsl(252, 30%, 17%);
    --color-primary: hsl(252, 75%, 60%);
    --color-success: hsl(120, 95%, 60%);
    --color-danger: hsl(0, 95%, 65%);
    --color-black: hsl(252, 30%, 10%);
    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
    }
    
    
    *,*::before,*::after{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
        border: 0;
    }
    
    body{
        font-family: 'Poppins', sans-serif;
        color: var(--color-dark);
        background: var(--color-light);
        overflow-x: hidden;
        background-image: linear-gradient(to right, rgba(174, 217, 249, 0), rgb(119, 191, 254));
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    width: 780px;
    }
    
    .container{
        width: 80%;
        margin: 0 auto;
            }
    
    .profile-pic{
        width: 2.7rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
        overflow: hidden;
    }
    .navTop{
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
        left: 10px;
        top:10px;
    }
    img{
        display: block;
        width: 100%;
    }
    .Top{
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        background-color: white;
        display: flex;
        justify-content:space-between;
        align-items: center;
        cursor: pointer;
        width: 100%;
        -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
        z-index: 100;
    }
    .btn{
        display: inline-block;
        padding: var(--btn-padding);
        font-weight: 500;
        border-radius: var(--border-radius);
        cursor: pointer;
        transition: all 300ms ease;
    }
    
    .btn:hover{
        opacity: 0.8;
    }
    
    .btn-primary{
        background: var(--color-primary);
        color: white;
        
    }
    
    .text-bold{
        font-weight: 500;
    }
    
    .text-muted{
        color: var(--color-gray)
    }
    
    nav{
        width: 100%;
        padding: 0.7rem 0;
        position: fixed;
        top: 0;
        z-index: 10;
        background: var(--color-white);
    
    
    }
    
    nav .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .search-bar{
        background: var(--color-light);
        border-radius: var(--border-radius);
        padding: var(--seacrh-padding);
    }
    .search-bar input[type="search"]{
        background: transparent;
        width: 30vw;
    }
    
    nav .search-bar input[type="search"]::placeholder{
        color: var(--color-gray);
    }
    
    nav .create{
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    
    main{
        position: relative;
        top: 5.4rem;
    }
    
    main .container{
        display: grid;
        grid-template-columns: 18vw auto 20vw;
        gap: 2rem;
        position: relative;
    }
    
    main .container .left{
        height: max-content;
        position: sticky;
        top: var(--sticky-top-left);
    }
    
    main .container .left .profle{
        padding: var(--card-padding);
        background: var(--color-white);
        border-radius: var(--card-border-radius);
        display: flex;
        align-items: center;
        column-gap: 1rem;
        width: 100%;
    }
    
    .left .sidebar{
        margin-top: 1 rem;
        background: var(--color-white);
        border-radius: var(--card-border-radius);
    }
    
    .left .sidebar .menu-item{
        display: flex;
        align-items: center;
        position: relative;
        height: 4rem;
        cursor: pointer;
        transition: all 300ms ease;
    }
    
    .left .sidebar .menu-item:hover{
        background: var(--color-light);
    }
    
    .left .sidebar i{
        font-size: 1.4rem;
        color: var(--color-gray);
        margin-left: 2rem;
        position: relative;
    }
    
   
    
    .middle .stories{
        display: flex;
        justify-content: space-between;
        height: 15rem;
        gap: 0.5rem;
        width: 50rem;
    }
    
    .middle .stories .story{
        padding: var(--card-padding);
        border-radius: var(--card-border-radius);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: white;
        width: 100%;
        font-size: 0.75rem;
        position: relative;
        overflow: hidden;
    }
    
    .middle .stories .story::before{
        content: "";
        display: block;
        width: 100%;
        height: 5rem;
        background: linear-gradient(transparent,rgba(0,0,0,0.75));
        position: absolute;
        bottom: 0;
    
    }
    
    .middle .stories .story .name{
        z-index: 2;
    }
    
    .middle .stories .story:nth-child(1){
        background: url('images/story-1.jpg');
        no-repeat center center/cover;
    }
    .middle .stories .story:nth-child(2){
        background: url('images/story-2.jpg');
        no-repeat center center/cover;
    }
    .middle .stories .story:nth-child(3){
        background: url('images/story-3.jpg');
        no-repeat center center/cover;
    }
    .middle .stories .story:nth-child(4){
        background: url('images/story-4.jpg');
        no-repeat center center/cover;
    }
    .middle .stories .story:nth-child(5){
        background: url('images/story-5.jpg');
        no-repeat center center/cover;
    }
    .middle .stories .story:nth-child(6){
        background: url('images/story-6.jpg');
        no-repeat center center/cover;
    }
    
    .middle .story .profile-pic{
        width: 2rem;
        height: 2rem;
        align-self: start;
        border: 3px solid var(--color-primary) ;
    }
    
    
    .middle .create-post{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1rem;
        background: var(--color-white);
        padding: 0.4rem var(--card-padding);
        border-radius: var(--border-radius);
        width: 50rem;
    }
    
    .middle .create-post input[type="text"]{
        justify-self: start;
        width: 100%;
        padding-left: 1rem;
        background: transparent;
        color: var(--color-dark);
        margin-right: 1rem;
        width: 500rem;
    }
    
    
    .middle .feeds .feed{
        background-color: aliceblue;
        border-radius: var(--card-border-radius);
        padding: var(--card-padding);
        width: 800px;
        margin: 1rem 0;
        font-size: 0.85rem;
        line-height: 1.5;

    }
    
    .middle .feed .head{
        display: flex;
        justify-content: space-between;
        width: 700px;
    
    }
    
    .middle .feed .user{
        display: flex;
        gap: 1rem;
        width: 700px;
    }
    
    .middle .feed .photo{
        border-radius: var(--card-border-radius);
        overflow: hidden;
        width: 780px;
        margin: 0.7rem 0;
    }
    .middle .feed .action-button{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.4rem;
        margin: 0.6rem;
        width: 780px;
    }
    
    .middle .liked-by{
        display: flex;
        width: 780px;
    }
    
    .middle .liked-by span{
        width: 1.4rem;
        height: 1.4rem;
        display: block;
        overflow: hidden;
        border-radius: 50%;
        border: 2px solid var(--color-white);
        margin-left: -0.6rem;
    }
    
    .middle .liked-by span:first-child{
        margin: 0;
    }
    
    .middle .liked-by p{
        margin-left: 0.5rem;
        width: 780px;
    }
    
    
    
    /* Media queries for responsive website */
    /* for laptop and big tablets */
    @media screen and (max-width:1200px) {
        .container{
            width: 96%;
        }
        main .container{
            grid-template-columns: 5rem auto 30vw;
            gap: 1rem;
        }
        .left{
            width: 5rem;
            z-index: 5;
        }
        .main .container .left .profile{
           display: none; 
        }
        .sidebar h3{
            display: none;
        }
        .left .btn{
            display: none;
        }
    }
    
    
    /*  For small tablets and mobile phones */
    @media screen and (max-width: 992px){
        nav .search-bar{
            display: none;
        }
        main .container{
            grid-template-columns: 0 auto 5rem;
            gap: 0;
        }
        main .container .left{
            grid-column: 3/4;
            position: fixed;
            bottom: 0;
            right: 0;
        }
        
        main .container .middle{
            grid-column: 1/3;   
        }
        main .container .right{
            display: none;
        }
    }