<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap" rel="stylesheet">
    <link rel="icon" href="Account Favion.png" type="image/icon type">
    <link rel = "stylesheet" href = "accountcss.css">
    <title>Your Profile</title>
</head>
<body>
    <div class = "Top" id = "Top">
        <a href ="/home"><img class = "Home" src="Home.png" width="40px">
        </a>
        <a href = "/chat"><img class = "chat" src = "Chat.png" width = "40px">
        </a>
        <a href="/posts"><img class = "Post" src = "Posts.png" width = "40px">
        </a>
        <a href = "/"><img class = "Account" src="Accounts.png" width="40px">
        </a>
         <a href = "/signin"><img class = "Noti" src="Notifications.png" width="40px">
        </a>
    </div>
    <div class = "navTop" id = "navTop">
        <img class = "Cover" src = "Cover.jpeg" width="900px" height="400px">
        <img class = "pp" id = "pp" src = "Profile.jpg" width = 150px>
        <input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;">
        <img id="output" class = "output" style="width:150px;">
        <div class = "Details" id = "Details">
            <br>
            <h1 class = "Name" id = "Name">John Addams</h1>
            <h4 class = "Bio" id = "Bio1">Amature Photographer</h4>
            <h4 class = "Bio" id = "Bio2">Follow @photophactory38 ppl!</h4>
            <br>
        </div>
        <input type = "button" class = "EditProfile" value = "Edit Profile" onclick="editvalue()">
        <input type = "button" class = "ShareProfile" value = "Share Profile" onclick="sv('ShareTab', 'block')">
        <input type = "button" class = "Changepic" value = "Change DP" onclick="document.getElementById('file').click();sv('pp','none')">
        <div class = "Follow">
            <h3 class = "Followers">Followers &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Following</h3>
            <h5 class = "Num">1M &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;19.6K</h5>
        </div>
    </div>
    <div class = "ShareTab" id = "ShareTab">
        <img class = "Shareimg" src="Share.png" width="50px">
        <h2 class = "ShareNow">Share your Profile!</h2>
        <input type = "text" class = "link" id = "link" value = "https:/social/johnaddams_" readonly>
        <input  type="button" class = "Copy" value = "Copy URL" onclick="sv('ShareTab', 'none');sv('Copied', 'flex');copytext('link')">
        <img class = "LogoW" src = "Whatsapp.png" width = 30px>
        <img class = "LogoW" src = "Facebook.png" width = 30px>
        <img class = "LogoW" src = "Instagram.jpeg" width = 30px>
    </div>
    <div class = "Copied" id = "Copied">
        <h3 class = "CopiedTxt">Link Copied to Clipboard!</h3>
        <br>
        <input type = "button" class = "CopyOk" value = "Ok!" onclick = "sv('Copied', 'none')">
    </div>
    <script src = "accountjs.js"></script>
</body>
</html>