<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="Account Favion.png" type="image/icon type">
  <link rel="stylesheet" type="text/css" href="chat.css">
  <title>Your Chat</title>
</head>
<body>
    <div class = "Top" id = "Top">
      <a href ="/home"><img class = "Home" src="Home.png" width="40px">
      </a>
      <a href = "/chat"><img class = "chat" src = "Chat.png" width = "40px">
      </a>
      <a href="/posts"><img class = "Post" src = "Posts.png" width = "40px">
      </a>
      <a href = "/"><img class = "Account" src="Accounts.png" width="40px">
      </a>
      <a href = "/signin"><img class = "Noti" src="login1.png" width="40px">
      </a>
    </div>
    <div id="chat-container">
        <div id="contact-list">
            <!-- <div id="search-box">
                <input type="text" id="search-input" placeholder="Search names">
            </div> -->
            <div class="contact-header">
                <span class="contact-header-info">Contacts</span>
            </div>
            <ul id="names-list">
                <li class="contact">
                  <div class="contact-info">
                    <p class="contact-name">Nandha</p>
                    <div class="contact-time">
                      <p class="contact-time1">last seen</p>
                      <p class="contact-time2">1h ago</p>
                    </div>
                  </div>
                </li>
                <li class="contact">
                  <div class="contact-info">
                    <p class="contact-name">Sudarsun</p>
                    <div class="contact-time">
                      <p class="contact-time1">last seen</p>
                      <p class="contact-time2">yesterday</p>
                    </div>
                  </div>
                </li>
                <li class="contact">
                  <div class="contact-info">
                    <p class="contact-name">Akash R</p>
                    <div class="contact-time">
                      <p class="contact-time1">last seen</p>
                      <p class="contact-time2">10m ago</p>
                    </div>
                  </div>
                </li>
                <li class="contact">
                  <div class="contact-info">
                    <p class="contact-name">Lokesh Kumar</p>
                    <div class="contact-time">
                      <p class="contact-time1">last seen</p>
                      <p class="contact-time2">2h ago</p>
                    </div>
                  </div>
                </li>
                <li class="contact">
                  <div class="contact-info">
                    <p class="contact-name">Madhav</p>
                    <div class="contact-time">
                      <p class="contact-time1">last seen</p>
                      <p class="contact-time2">40s ago</p>
                    </div>
                  </div>
                </li>
                <li class="contact">
                  <div class="contact-info">
                    <p class="contact-name">Sujith</p>
                    <div class="contact-time">
                      <p class="contact-time1">last seen</p>
                      <p class="contact-time2">6h ago</p>
                    </div>
                  </div>
                </li>
                <li class="contact">
                  <div class="contact-info">
                    <p class="contact-name">Aniss</p>
                    <div class="contact-time">
                      <p class="contact-time1">last seen</p>
                      <p class="contact-time2">5d ago</p>
                    </div>
                  </div>
                </li>
                <li class="contact">
                  <div class="contact-info">
                    <p class="contact-name">Ahilan</p>
                    <div class="contact-time">
                      <p class="contact-time1">last seen</p>
                      <p class="contact-time2">16m ago</p>
                    </div>
                  </div>
                </li>
            </ul>
        </div>
        <div id="chat-window">
          <div id="chat-header">
            <h3 id="active-contact-name"></h3>
          </div>
          <div class="chat-messages" id="chat-messages">
            <span>
              
            </span>
          </div>
          <div id="input-container">
            <input type="text" id="msg-input" placeholder="Type your message">
            <button id="send">Send</button>
          </div>
        </div>
    </div>
    <script src="chat.js"></script>      
</body>





