<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "accountcss.css">
    <link rel="icon" href="Account Favion.png" type="image/icon type">
    <title>Your Posts</title>
</head>
<body>
    <div class = "Top" id = "Top">
        <a href ="/home"><img class = "Home" src="Home.png" width="40px">
        </a>
        <a href = "/chat"><img class = "chat" src = "Chat.png" width = "40px">
        </a>
        <a href="/posts"><img class = "Post" src = "Posts.png" width = "40px">
        </a>
        <a href = "/"><img class = "Account" src="Accounts.png" width="40px">
        </a>
         <a href = "/signin"><img class = "Noti" src="Notifications.png" width="40px">
        </a>
    </div>
    <h1>Posts!</h1>
    <div class="slider" id = "slider">
        <div class="sliderWrapper">
            <div class="sliderItem">
                <img src="4.jpeg" alt="" class="sliderImg" width = "350px" height="300px">
                <div class="sliderBg"></div>
                <h1 class="sliderTitle2">Dragon Fly</h1>
                <img src="Right.png" alt="" class="Right" id = "Right" width = "100px" height="100px" onclick="next()">
            </div>
            <div class="sliderItem">
                <img src="Left.png" alt="" class="Left" width = "100px" height="100px" onclick="prev()">
                <img src="2.jpeg" alt="" class="sliderImg" width = "350px" height="300px">
                <div class="sliderBg"></div>
                <h1 class="sliderTitle">White Lotus</h1>
                <img src="Right.png" alt="" class="Right" width = "100px" height="100px" onclick="next()">
            </div>
            <div class="sliderItem">
                <img src="Left.png" alt="" class="Left" width = "100px" height="100px" onclick="prev()">
                <img src="3.jpg" alt="" class="sliderImg" width = "350px" height="300px">
                <div class="sliderBg"></div>
                <h1 class="sliderTitle1">Red Lotus</h1>
                <img src="Right.png" alt="" class="Right" width = "100px" height="100px" onclick="next()">
            </div>
            <div class="sliderItem">
                <img src="Left.png" alt="" class="Left" width = "100px" height="100px" onclick="prev()">
                <img src="1.jpeg" alt="" class="sliderImg" width = "350px" height="300px">
                <div class="sliderBg"></div>
                <h1 class="sliderTitle">A Saint and a Devotee</h1>
            </div>
        </div>
    </div>
    <script src = "accountjs.js"></script>
</body>
</html>