<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "postcss.css">
    <title>Posts</title>
</head>
<body>
    <div class = "Top" id = "Top">
        <a href ="./home.html"><img class = "Home" src="./Images/Home.png" width="40px">
        </a>
        <a href = "./chat.html"><img class = "chat" src = "./Images/Chat.png" width = "40px">
        </a>
        <a href="./posts.html"><img class = "Post" src = "./Images/Posts.png" width = "40px">
        </a>
        <a href = "./accounts.html"><img class = "Account" src="./Images/Accounts.png" width="40px">
        </a>
         <a href = "./notifications.html"><img class = "Noti" src="./Images/Notifications.png" width="40px">
        </a>
    </div>
    <div class="slider" id = "slider">
        <div class="sliderWrapper" id = "sliderWrapper">
            <div class="sliderItem">
                <img src="./Images/4.jpeg" alt="" class="sliderImg" width = "350px" height="300px">
                <div class="sliderBg"></div>
                <h1 class="sliderTitle">Dragon Fly</h1>
                <img src="./Images/Right.png" alt="" class="Right" id = "Right" width = "100px" height="100px" onclick="next()">
            </div>
            <div class="sliderItem">
                <img src="./Images/Left.png" alt="" class="Left" width = "100px" height="100px" onclick="prev()">
                <img src="./Images/2.jpeg" alt="" class="sliderImg" width = "350px" height="300px">
                <div class="sliderBg"></div>
                <h1 class="sliderTitle1">White Lotus</h1>
                <img src="./Images/Right.png" alt="" class="Right" width = "100px" height="100px" onclick="next()">
            </div>
            <div class="sliderItem">
                <img src="./Images/Left.png" alt="" class="Left" width = "100px" height="100px" onclick="prev()">
                <img src="./Images/3.jpg" alt="" class="sliderImg" width = "350px" height="300px">
                <div class="sliderBg"></div>
                <h1 class="sliderTitle2">Red Lotus</h1>
                <img src="./Images/Right.png" alt="" class="Right" width = "100px" height="100px" onclick="next()">
            </div>
            <div class="sliderItem">
                <img src="./Images/Left.png" alt="" class="Left" width = "100px" height="100px" onclick="prev()">
                <img src="./Images/1.jpeg" alt="" class="sliderImg" width = "350px" height="300px">
                <div class="sliderBg"></div>
                <h1 class="sliderTitle3">A Saint and a Devotee</h1>
            </div>
        </div>
    </div>
    <script src = "accountjs.js"></script>
</body>
</html>