body{
  background-image: linear-gradient(to right, rgba(174, 217, 249, 0), rgb(157, 209, 255));
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.Top{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: white;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  cursor: pointer;
  width: 100%;
  /* height: 100%; */
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  padding: none;
}

#chat-container {
    display: flex;
    flex-direction: row;
    height: 675px;
  }
  
  /* #search-box {
    margin-bottom: 10px;
  } */

  .contact-header{
    /* display:block; */
    /* justify-content: space-between; */
    /* align-items: center; */
    text-align: center;
    background-color: rgb(96, 96, 96);
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 24.5px;
  }

  .contact-header-info{
    font-size: x-large;
    background-color: azure;
    border-radius: 10px;
    padding: 10px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  #contact-list {
    width: 300px;
    height: 100%;
    overflow-y: scroll;
    /* background-color: rgb(182, 182, 182); */
    /* background-repeat: no-repeat;
    background-size: cover; */
    /* padding: 10px; */
    /* background-color: #ffffff; */
    /* display: flex; */
    justify-content: space-between;
    border-top: 1px solid rgb(0, 0, 0);
    border-left: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
  }
  
  #names-list{
    display: contents;
    width: 200px;
  }

  .contact-info{
    display: flex;
    justify-content: space-between;
  }

  .contact-info p:first-child {
    margin-right: auto;
  }

  .contact-time p{
    display: block;
  }

  .contact {
    display: block;
    list-style-type: none;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(211, 208, 208);
    color: #000000;
    /* margin-bottom: 4px; */
    /* border-top: 1px solid black; */
    border-bottom: 1px solid rgb(0, 0, 0);
    border-right: 1px solid black;
    width: 280px;
    border-radius: 5px;
    /* border: none; */
    cursor: pointer;
    font-size: 20px;
    font-style:inherit;
  }

  .contact:hover {
    background-color: azure;
  }

  .contact-time{
    font-size: small;
    padding-right: 25px;
  }

  #chat-window {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* width: 60%; */
  }
  
  #chat-header {
    /* background-color: #f5f5f5; */
    color: black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    /* border-bottom: 0.5px solid black; */
  }
  
  #chat-messages {
    flex: 1;
    display: flex;
    flex-direction:column;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    overflow-y: auto;
    /* background-image: linear-gradient(to right, rgba(174, 217, 249, 0), rgb(166, 211, 251)); */
    /* background-color: white; */
    border: 1px solid black;
    margin: 0;
  }

  #input-container {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    /* background-color: #000000; */
  }
  
  #msg-input {
    flex: 1;
    padding: 10px;
  }
  
  #send {
    margin-left: 5px;
    padding: 10px;
  }
  
  .contact.active {
    font-weight: bold;
  }

  #active-contact-name{
    padding-left: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
  }
  
  .chat-message{
    background-color: rgb(49, 46, 255);
    color: white;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 10px;
    font-size: large;
    width: 98%;
  }

  